
body {
	background: #2d3436;
	color: #dfe6e9;
}

.wrapper {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.weather-information {
	border: 1px solid black;
	text-align: center;
}

.weather-icon {
	height: 60%;
	width: 60%;
}
